.challenge-show-container {
    margin-top: 120px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challenge-show-card {
    width: 80%;
    max-width: 800px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(170, 170, 170, 0.423) 0px 1px 20px 0px;

}

.show-card-img-wrap {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.show-card-img-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.show-card-details-wrap {
    width: 54%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 28px;
}

.detail-line {
    width: 100%;
    margin: 10px;
}

#show-title {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h1 {
        font-size: 25px;
        font-weight: 700;
    }

    & button {
        width: 120px;
        height: 40px;
        border-radius: 12px;
        background-image: linear-gradient(to right, #7b2cbf, #5a189a);
        outline: none;
        border-style: none;
        font-size: 15px;
        color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-image: linear-gradient(to right, #5a189a, #3c096c);
        }
    }
}

#show-description {
    // margin-bottom: 150px;
    height: 80px;
}

#show-dates {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    & div {
        margin-right: 30px;
    }
}

// -------- Styling for Posts STARTS HERE ------------

.challenge-show-posts {
    margin-top: 40px;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chal-post-index {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chal-post-item {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(46, 51, 56);
    margin-top: 20px;
}

.chal-post-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17.5px
}

.chal-user-info {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.chal-user-icon {
    height: 70px;
    width: 70px;
    background-color: bisque;
    border-radius: 50%;

    & img {
        width: 100%;
        height: 100%;
    }
}

.chal-header-info {
    width: 80%;
    display: flex;
    flex-direction: column;

    & .chal-header-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;
        height: 25px;
    }

    & .chal-post-type {
        display: flex;
        justify-content: center;
        font-size: 12px;
        background-color: #af8fe9;
        color: #ebebeb;
        border-radius: 6px;
        height: 100%;
        width: 70px;
        align-self: center;
        line-height: 25px;
    }

    & .chal-username {
        font-size: 20px;
        font-weight: 700;
    }

    & .chal-post-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & h3{
            width: 100%;
            font-size: 15px;
        }
    }
}

// ------------ Post Form styling STARTS HERE ----------------


.add-post-container {
    width: 80%;
    max-width: 800px;
    display: flex;
    height: auto;
    overflow: visible;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-top: 25px;
}

.post-form {
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 55px;
}

.form-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

    & h1 {
        font-size: 22px;
        font-weight: 600;
    }
}

.form-main-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

    & .post-text-container {
        width: 80%;
        margin-right: 15px;

        & textarea {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 20px;
            color: white;
            word-wrap: normal;
            resize: none;
            outline: none;
            font-family: roboto;
             
        }
    }
}

.form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 105px;

    & div {
        margin-right: 5px;
    }

    & .post-img-label span {
        cursor: pointer;
        &:hover {
           color: #7b2cbf; 
        }
    }

    & .post-img-input {
        display: none;
    }

}

.complete-toggle-container {
    width: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & label {
        margin-left: 10px;
        margin-right: 10px;
    }

    & input {
        height: 20px;
        width: 20px;
        border-radius: 12px
    };
}

.img-post-preview {
    width: 97%;
    max-height: 700px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    vertical-align: middle;

    // & .remove-img-x {
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //     font-size: 30px;
    //     font-weight: 800;
    //     position: relative;
    //     margin-top: -40px;
    //     z-index: 1;
    //     cursor: pointer;
    // }

    & img {
        max-height: 600px;
        max-width: 100%;
        border-radius: 8px;
    }
}
// .complete-toggle-container {

//     & .switch {
//         width: 60px;
//         height: 34px;

//         & input {
//             opacity: 0;
//             width: 0;
//             height: 0;
//         }

//         & .slider {
//             cursor: pointer;
//             background-color: #ccc;
//             -webkit-transition: .4s;
//             transition: .4s;
//         }

//         & .slider:before {
//             position: absolute;
//             content: "";
//             height: 26px;
//             width: 26px;
//             background-color: white;
//             -webkit-transition: .4s;
//             transition: .4s;
//         }

//         & input:checked .slider {
//             background-color: #2196F3;
//         }

//         & input:focus .slider {
//             box-shadow: 0 0 1px #2196F3;
//         }

//         & input:checked+.slider:before {
//             -webkit-transform: translateX(26px);
//             -ms-transform: translateX(26px);
//             transform: translateX(26px);
//         }

//         & .slider.round {
//             border-radius: 34px;
//         }
        
//         & .slider.round:before {
//             border-radius: 50%;
//         }
//     }
// }

.submit-post-button {
    width: 80px;
    height: 40px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #7b2cbf, #5a189a);
    outline: none;
    border-style: none;
    font-size: 15px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-image: linear-gradient(to right, #5a189a, #3c096c);
    }
}

