.challenge-cards-container {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 37, 41);
    margin-top: 60px;
}

.challenges-header h2 {
    font-size: 25px;
    margin: 50px 0px 50px 0px;
}

.categorized-challenges-container{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.category-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.category-wrap h1 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 15px;
}

.categorized-challenges {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-color: none;
    padding-bottom: 10px;
}

.challenge-card {
    width: 270px;
    height: 200px;
    background-color: rgb(46, 51, 56);
    margin: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.challenge-card:hover {
    margin: 0 40px;
    transform: scale(1.1);
}

.challenge-img-container {
    height: 70%;
    width: 95%;
    border: 1px solid white;
    border-radius: 6px;
    margin: 5px;
}

.challenge-card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 25%;
}

.challenge-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 80%;
}

.card-title {
    font-size: 18px;
    word-wrap: break-word;
    font-weight: 700;
    width: 79%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.card-category {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 80, 202);
    border-radius: 6px;
}


.card-desc {
    height: 50px;
    font-size: 13px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options button {
    width: 60px;
    height: 30px;
    border-radius: 6px;
    outline: none;
    border-style: none;
}

.challenge-icon {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 20px;
    width: 20vw;
    height: 100px;
    background-color: rgb(46, 51, 56);
    border-radius: 8px;
    -webkit-filter: brightness(100%);
}

.challenge-icon:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.icon-img-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20vw;
    height: 75px;
    background-color: #ebebeb;
}

.challenge-icon-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 75px;
    width: 20vw;
    object-fit: cover;
}

.challenge-icon-text {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 20vw;
    height: 25px;
}